.box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    width: 384px;
    height: 410px;

    left:50%;
    top:50%; 
    margin-left:-192px; /* Metade do valor da Largura */
    margin-top:-270px; /* Metade da valor da Altura */
    position:absolute;
    
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 5px 2px rgba(112, 122, 138, 40%);
}

.paging {
    margin: 10px 0px 10px 23px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #707A8A;
}

span {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #333840;
}

h2 {
    margin: -10px 0px 10px 23px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}

label {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #58606E;
}

input {
    border: 1px solid #C8D1E0;
    width: 320px;
    height: 46px;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    width: 146px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    margin: 8px 35px 20px auto;

    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    background-color: var(--blue);
    color: var(--white);
    
    cursor: pointer;
}

button:hover {
    transition: .2s;
    background-color: rgb(4, 4, 165);
}

button:disabled {
    opacity: 30%;
    cursor: no-drop;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
} 

/*
.error {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    font-family: 'Gotham Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;

    width: 300px;
    height: 50px;
    
    border: 1px solid var(--red);
    color: var(--red);
    background-color: var(--back);
}

#password {
    margin: -419px 600px;
    width: 350px;
    height: 50px;
}

#email {
    margin: -334px 600px;
}

#name {
    margin: -250px 600px;
}
*/