<div class="box">
    <p class="paging">
        01 > 02 > <span>03</span> > 04
    </p>
    <h2>Terms and conditions</h2>
    <div class="terms">
        <p class="scroller">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat turpis ac pretium varius. Sed
            eu
            mollis ante. Proin sollicitudin eget odio ut pharetra. In vulputate tincidunt nunc id auctor. Nam quis
            eleifend
            nibh, sit amet auctor libero. In a dignissim nisi, nec lacinia mi. Curabitur eu eros dui. Duis iaculis
            cursus
            tempor. Mauris placerat eleifend semper. Nunc eu sapien et sapien lacinia vehicula eu eget tortor. Donec
            egestas
            est a vulputate condimentum.

            Vivamus nec venenatis lectus. Suspendisse scelerisque est id molestie convallis. Mauris elementum vulputate
            lobortis. Suspendisse urna purus, aliquam et risus sit amet, tristique congue mi. Phasellus eleifend sem
            justo,
            a egestas sem aliquam quis. Pellentesque fringilla id dui eget malesuada. Donec auctor quam id imperdiet
            maximus. Aliquam elementum pellentesque bibendum. Nullam lacus est, bibendum nec accumsan eu, rutrum eu
            quam.

            Nulla justo orci, luctus ac est a, cursus sagittis urna. Vivamus suscipit nisl non velit pulvinar rutrum.
            Maecenas quis ultricies lacus. Nulla facilisi. Donec at interdum tellus. Donec justo ex, tempus ac ornare
            in,
            vestibulum quis risus. Vestibulum congue orci nunc, vel rutrum nisl blandit at.

            Cras nunc tellus, vulputate eu mi at, eleifend vestibulum massa. Integer ut sodales libero, vel tristique
            nisl.
            Maecenas ullamcorper justo sit amet consectetur lacinia. Maecenas sed sollicitudin arcu, et maximus lorem.
            Donec
            rutrum gravida tellus at vestibulum. In a leo odio. Aliquam interdum sem id diam eleifend, a venenatis neque
            dictum. Nulla tincidunt lectus ut lectus ullamcorper, non porttitor metus laoreet. In sed elit vel nibh
            placerat
            cursus ac a felis.

            Nullam eu sem ac massa euismod finibus. Sed at libero mauris. Mauris tortor eros, ultricies id velit
            gravida,
            gravida elementum ex. Curabitur gravida congue leo non lacinia. Suspendisse potenti. Vivamus at hendrerit
            lectus, vel consequat ex. Praesent semper lacus sed accumsan viverra. Cras vel mattis felis. Nam dui nunc,
            blandit id nulla eget, volutpat porttitor felis. Praesent justo velit, cursus nec volutpat lacinia, commodo
            vitae lectus. Nunc eget felis sapien. Mauris tempor iaculis laoreet. Praesent aliquet tellus sit amet
            tincidunt
            bibendum.
        </p>
    </div>

    <div class="buttons">
        <button class="decline" routerLink="">
            Decline
        </button>

        <button class="submit" type="submit" routerLink="/invite">
            Accept
        </button>
    </div>
</div>