<mat-card class="container">
    <div class="box">
        <p>01 > 02 > 03 > 04</p>
        <h2>Create your account</h2>
        <form class="formulario">
            <mat-label for="Name">Name</mat-label>
            <input type="text">

            <mat-label for="Email">Email</mat-label>
            <input type="text">

            <mat-label for="Password">Password</mat-label>
            <input type="text">
        </form>

        <button mat-raised-button type="submit">
            Create account
        </button>
    </div>
</mat-card>