<div class="box">
    <p class="paging">01 > 02 > 03 > 04</p>
    <h2>Invite your friends</h2>
    <form class="formulario">
        <label for="Name">Email</label>
        <input type="text">

        <label for="Email">Email</label>
        <input type="text">

        <label for="Password">Email</label>
        <input type="text">
    </form>

    <div class="buttons">
        <button class="add">

        </button>

        <button class="skip">
            Skip
        </button>

        <button class="send" type="submit">
            Send invites
        </button>
    </div>
</div>