<mat-card class="box">
    <p class="paging">01 > 02 > 03 > 04</p>
    <h2>Invite your friends</h2>
    <form class="formulario">
        <mat-label for="Name">Email</mat-label>
        <input type="text">

        <mat-label for="Email">Email</mat-label>
        <input type="text">

        <mat-label for="Password">Email</mat-label>
        <input type="text">
    </form>

    <div class="buttons">
        <button mat-raised-button class="add">
            <mat-icon>
                person_add
            </mat-icon>
        </button>

        <button mat-raised-button class="skip">
            Skip
        </button>

        <button mat-raised-button class="send" type="submit">
            Send invites
        </button>
    </div>
</mat-card>