<div class="box">
    <p class="paging">
        01 > 02 > 03 > <span>04</span>
    </p>
    <h2>Invite your friends</h2>
    <form class="formulario">
        <label for="Name">Email</label>
        <input type="text">

        <label for="Email">Email</label>
        <input type="text">

        <label for="Password">Email</label>
        <input type="text">

        <div class="buttons">
            <button class="add">
                <img src="assets/icons/addEmail.svg" alt="addEmail">
            </button>

            <button class="skip" routerLink="">
                Skip
            </button>

            <button class="send" type="submit">
                Send invites
            </button>
        </div>
    </form>
</div>