<mat-card class="box">
    <p class="paging">01 > 02 > 03 > 04</p>
    <h2>Confirm your email</h2>
    <p>
        We sent a code to "gjoao98@gmail.com", please type it <br>
        bellow. If this is not your email, you can change it here.
    </p>

    <div class="codeLine">
        <div class="codes"></div>
        <div class="codes"></div>
        <div class="codes"></div>
        <div class="codes"></div>
        <div class="codes"></div>
    </div>

    <div class="buttons">
        <button mat-raised-button class="resend">
            Resend code
        </button>

        <button mat-raised-button class="submit" type="submit">
            Confirm
        </button>
    </div>
</mat-card>