<div class="box">
    <p class="paging">
        01 > <span id="page">02</span> > 03 > 04
    </p>
    <h2>Confirm your email</h2>
    <p>
        We sent a code to "gjoao98@gmail.com", please type it <br>
        bellow. If this is not your email, you can
        <a routerLink="">
            <span>change it here.</span>
        </a>
    </p>

    <form class="codeLine" [formGroup]="confirmCode" (submit)="onSubmit($event)">
        <input type="number" formControlName="n1" name="n1" />
        <input type="number" formControlName="n2" name="n2" />
        <input type="number" formControlName="n3" name="n3" />
        <input type="number" formControlName="n4" name="n4" />
        <input type="number" formControlName="n5" name="n5" />
        <input type="number" formControlName="n6" name="n6" />

        <div class="buttons">
            <button class="resend" type="button">
                Resend code
            </button>

            <button class="submit" type="submit" [disabled]="!confirmCode.valid">
                Confirm
            </button>
        </div>
    </form>
</div>