.box {
    width: 384px;
    height: 269px;

    left:50%;
    top:50%; 
    margin-left:-192px; /* Metade do valor da Largura */
    margin-top:-270px; /* Metade da valor da Altura */
    position:absolute;
    
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 5px 2px rgba(112, 122, 138, 40%);
}

.paging { 
    margin: 20px 0 0 23px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #707A8A;
}

#page {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #333840;
}

h2 {
    margin: 0 0 5px 23px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
}

p {
    margin-left: 23px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #58606E;
}

span {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    text-decoration: none;
    color: #0A3BB7;
}

.codeLine {
    margin-left: 10px;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 45.86px;
    height: 46px;
    border: 1px solid #C8D1E0;
    border-radius: 4px;
    
    margin: 7px 0px 0px 7px;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 24px 0px 0px 0px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px auto;

    width: 89px;
    height: 36px;
    border: 1px solid #C8D1E0;
    border-radius: 4px;

    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    background-color: var(--blue);
    color: var(--white); 
    
    cursor: pointer;
}

.submit:hover {
    transition: .2s;
    background-color: rgb(4, 4, 165);
}

.submit:disabled {
    opacity: 30%;
    cursor: no-drop;
}

.resend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 125px;

    width: 128px;
    height: 36px;
    border: 1px solid #C8D1E0;
    border-radius: 4px;

    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    background-color: var(--white);
    color: var(--blue); 

    cursor: pointer;
}

.resend:hover {
    transition: .2s;
    opacity: 70%;
}